<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blogga | Popular</title>
    
    {% block stylesheet %}
    <link rel="stylesheet" href="{% static './css/category-page.css'%}">
    <link rel="stylesheet" href="{% static './css/style.css'%}" />
    <link rel="stylesheet" href="{% static './css/login.css'%}" />
    <!-- FAVICONS -->
    <link
      rel="shortcut icon"
      href="{% static './img/logo_resources/Favicon_White.png'%}"
      type="image/x-icon"
      id="fav-white"
    />
    <link
      rel="shortcut icon"
      href="{% static './img/logo_resources/Favicon.png'%}"
      type="image/x-icon"
      id="fav-green"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    {% endblock stylesheet %}
      
  </head>
  <body>
<!-- LOGIN MODAL START-->
    <!--  -->
    <div class="login-modal">
      <section class="login-body">
        <img
          src="{% static './img/Login/mobile_blob1.png'%}"
          alt="mobile blob design"
          class="mobile_blob1"
        />
        <img
          src="{% static './img/Login/mobile_blob2.png'%}"
          alt="mobile blob design"
          class="mobile_blob2"
        />
        <img
          src="{% static './img/Login/mobile_blob3.png'%}"
          alt="mobile blob design"
          class="mobile_blob3"
        />

        <main class="login-main">
          <div class="left-div">
            <img
              src="{% static './img/Login/login_top_blob.png'%}"
              alt="blob design "
              class="top_blob"
            />
            <img
              src="{% static './img/Login/login_main_image.png'%}"
              alt="welcome image"
            />
            <img
              src="{% static './img/Login/login_bottom_blob.png'%}"
              alt="blob design "
              class="btm_blob"
            />
          </div>

          <div class="right-div">
            <i
              class="fa-solid fa-xmark login-modal-close"
              onclick="hideLoginModal()"
            ></i>
            <div class="right-div-container">
              <h3 class="head-txt">Welcome Back : )</h3>

              <input
                type="text"
                placeholder="Username"
                id="login-username"
                required
              />

              <br />

              <div class="password-eye">
                <input
                  type="password"
                  placeholder="Password"
                  id="login-password"
                  required
                />
                <i class="bi bi-eye" onclick="passwordToggle()"></i>
                <i class="bi bi-eye-slash" onclick="passwordToggle()"></i>
              </div>

              <a href="./forgotpassword.html" class="forgot-password"
                >Forgot Password?</a
              >
              <!-- <br /> -->

              <label for="remember-me" class="remem-label">
                <input
                  type="checkbox"
                  name="remember-me"
                  id="remember-me"
                />&nbsp; <small>Remember Me</small></label
              >
              <br />

              <button type="button" class="login-button">Log In</button>

              <div class="or-separator">
                <hr />
                <p>OR</p>
                <hr />
              </div>

              <button type="button" class="continue-button">
                <img
                  src="{% static './img/google.png'%}"
                  alt=""
                  class="google"
                />
                &nbsp; Continue With Google
              </button>

              <p class="base-txt">
                Become a Blogga?
                <a href="./write-for-us.html" class="signup-link">
                  Write For Us</a
                >
              </p>
            </div>
          </div>
        </main>
      </section>
    </div>
    <!--  -->
    <!-- LOGIN MODAL END-->


    <!-- HEADER & MOBILE MENU  START-->
    <!--  -->
{% include "post/header.html" %}
    <!--  -->
    <!-- HEADER & MOBILE MENU END-->
    <main>


     <section class="category-brief" id="category-brief2">
        <h2 id="latest"> POPULAR </h2>
        <p id="latest-paragraph">SEE ALL</p>
        <hr class="latest-hr">
    </section>

      <section class="main-content">
         <!-- LEFT SECTION STARTS CONTENT 1-->
         <div>
         <div class="left-section">
          <div class="left-image">
            <a href=""><img src="{% static './img/Popular1.svg'%}" alt="lord-of-rings-img"></a>
          </div>
          <div class="left-content">
            <a href="">TI lost G-Wagon, Escalade, Bentley, others to floods – Lagos landlord</a>

                 <div class="read-more-section">
                    <a href="" id="right-arrow"
                      >READ MORE <i class="fa-sharp fa-solid fa-arrow-right"></i
                    ></a>
                  </div>
                  <div class="post-section" >
                    <p>Hamzah</p>
                     <p>30 Minutes ago
                   </div>
          </div>
         </div>

         <!-- LEFT SECTION STARTS CONTENT 2-->

         <div class="left-section">
            <div class="left-image">
              <a href=""><img src="{% static './img/Popular2.svg'%}" alt="lord-of-rings-img"></a>
            </div>
            <div class="left-content">
              <a href="">Why Rich kids have
                higher chance at success in life than average kids</a>
                   <div class="read-more-section">
                      <a href="" id="right-arrow"
                        >READ MORE <i class="fa-sharp fa-solid fa-arrow-right"></i
                      ></a>
                    </div>
                    <div class="post-section" >
                        <p>Nifemi</p>
                         <p>50 Minutes ago
                       </div>
            </div>
           </div>

        <!-- LEFT SECTION STARTS CONTENT 3-->

         <div class="left-section">
            <div class="left-image">
              <a href=""><img src="{% static './img/Popular3.svg'%}" alt="lord-of-rings-img"></a>
            </div>
            <div class="left-content">
              <a href="">Waterways authority to revive Lagos jetty, clear wrecks</a>
                   <div class="read-more-section">
                      <a href="" id="right-arrow"
                        >READ MORE <i class="fa-sharp fa-solid fa-arrow-right"></i
                      ></a>
                    </div>
                    <div class="post-section" >
                        <p>Adedotun</p>
                         <p>An hour ago
                       </div>
            </div>
           </div>

           <!-- LEFT SECTION STARTS CONTENT 4-->

         <div class="left-section">
            <div class="left-image">
              <a href=""><img src="{% static './img/Popular4.svg'%}" alt="lord-of-rings-img"></a>
            </div>
            <div class="left-content">
              <a href="">I paid the price to become one of the best, says E4luxury</a>
                  <p>Ayodele Donye Samson, founder of E4luxury Jewellers,
                    has revealed the cost of being touted as the best among his peers. </p>
                   <div class="read-more-section">
                      <a href="" id="right-arrow"
                        >READ MORE <i class="fa-sharp fa-solid fa-arrow-right"></i
                      ></a>
                    </div>
                    <div class="post-section" >
                        <p>Racheal</p>
                         <p>3 Hours ago
                       </div>
            </div>
           </div>

            <!-- LEFT SECTION STARTS CONTENT 5-->

         <div class="left-section">
            <div class="left-image">
              <a href=""><img src="{% static './img/Popular5.svg'%}" alt="lord-of-rings-img"></a>
            </div>
            <div class="left-content">
              <a href="">Jazz legend, Pharoah Sanders, dies at 81</a>
                   <div class="read-more-section">
                      <a href="" id="right-arrow"
                        >READ MORE <i class="fa-sharp fa-solid fa-arrow-right"></i
                      ></a>
                    </div>
                    <div class="post-section" >
                        <p>Amara</p>
                         <p>6 Hours ago
                       </div>
            </div>
           </div>


         </div>

        <!-- LEFT SECTION ENDS -->


          <!-- RIGHT SECTION STARTS -->
          <div>




<!--This is the Div that carries the right section content-->
         </div>
        </section>

        <section class="page-num">
             <hr class="category-hr"/>
             <div class="page-num-content">
                <a href="#" class="page-btn start-page"><img src="{% static './img/less-than.svg'%}" alt=""></a>
                <a href="#" class="page-btn active2">1</a>
                <a href="#" class="page-btn prev-page">...</a>
                <a href="#" class="page-btn">6</a>
                <a href="" class="page-btn">7</a>
                <a href="" class="page-btn">8</a>
                <a href="" class="page-btn">9</a>
                <a href="" class="page-btn">10</a>
                <a href="" class="page-btn" id="hide">11</a>
                <a href="" class="page-btn" id="hide">12</a>
                <a href="" class="page-btn" id="hide">13</a>
                <a href="" class="page-btn" id="hide">14</a>
                <a href="" class="page-btn next-page" id="hide">...</a>
                <a href="" class="page-btn" id="hide">458</a>
                <a href="" class="page-btn end-page"><img src="{% static './img/Greater-than.svg'%}" alt=""></a> &nbsp;  &nbsp;
             </div>
        </section>

        <section>
            <hr  />
        </section>

        <section class="newsletter" id="subscribe">
          <h2>STAY UPDATED</h2>

          <p>
            Get the latest creative news from Blogga about Art , Fashion,
            Entertainment and lots more.
          </p>

          <form action="#">
            <input
              type="email"
              name="email"
              id="email"
              placeholder="Your Email Address"
            />
            <button type="submit" class="subscribe button">Subscribe</button>
          </form>
        </section>
        <!--  -->
        <!-- SUBSCRIBE SECTION END-->
    </main>

    <!-- FOOTER START-->
    <!--  -->
 {% include "post/header.html" %}
    <!--  -->
    <!-- FOOTER END-->
    <script src="{% static './js/category.js'%}"></script>
    <script src="{% static './js/index.js'%}"></script>
  </body>
</html>