<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogga|Profile Page</title>
    <!-- FAVICONS -->
  
  {% block stylesheet %}
  <link
  rel="shortcut icon"
  href="{% static './img/logo_resources/Favicon_White.png' %}"
  type="image/x-icon"
  id="fav-white"
/>
<link
  rel="shortcut icon"
  href="{% static './img/logo_resources/Favicon.png' %}"
  type="image/x-icon"
  id="fav-green"
/>

<!-- GOOGLE FONTS -->
<link
  href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
  rel="stylesheet"
/>

<!-- BOOTSTRAP ICONS -->
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css"
/>

<!-- FONTAWESOME -->
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
  integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>

<!-- SWIPER JS -->
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"
/>
<link rel="stylesheet" href="{% static './css/style.css' %}" />
<link rel="stylesheet" href="{% static './css/normalize.css' %}" />
<link rel="stylesheet" href="{% static './css/profilepage.css' %}">

  {% endblock stylesheet %}
    

  </head>
<body>
   {% include "post/header.html" %}
    <main>
        <div class="top-container">
            <p>Hello</p>
            <h2>Hamzah</h2>
            <div class="page-heading" >
                <div><p>MY SETTINGS</p></div>
                <div><p>MY BOOKMARKS(0)</p></div>
                <div><p>MY CONTENT</p></div>
            </div>
            <hr class="main-hr"/>
        </div>
        <div class="mid-container">
            <div class="first-section">
                <div><h3>Account</h3></div>
                <div class="first-section1">
                    <img src="{% static './img/Hamzah_head.svg' %}" alt="">
                    <button class="btn-edit">Edit Picture</button>
                </div>
            </div>
            <div class="second-section">
                <p>Email</p>
                <div>
                    <input type="email" placeholder="opemipohamzah@gmail.com">
                </div>
                <hr>
                
              <form action="" method="post">
                {% csrf_token %}
                change your password
                {% if form.errors %}
                
                {{form.errors}}
                {% endif %}
  <!-- <label > {{form.old_password.label}}</label>
  {{form.old_password}}
  
  <label > {{form.new_password1.label}}</label>
  {{form.new_password1}}
  
  <label > {{form.new_password2.label}}</label>
  {{form.new_password2}}
  
  <button type="submit">change</button> -->
 
                <p>Current Password</p>
                <div class="password">
                  {{form.old_password}}
                    <i class="bi bi-eye"></i>
                </div>
                <hr>
                <p>New Password</p>
                <div class="password">
                  {{form.new_password1}}
                    <i class="bi bi-eye"></i>
                </div>
                <hr>
                <p>Confirm New Password</p>
                <div class="password">
                  {{form.new_password2}}
                    <i class="bi bi-eye"></i>
                </div>
                <hr>
                <div class="btn-wrap">
                    <button class="btn-changes" type = 'submit'>Save Changes</button>
                </div>
            </div>
          </form>
            <div class="third-section">

            </div>
        </div>
        <hr class="hr-bottom">

        <section class="newsletter" id="subscribe">
        <h2>STAY UPDATED</h2>

        <p>
          Get the latest creative news from Blogga about Art , Fashion,
          Entertainment and lots more.
        </p>

        <form action="#">
          <input
            type="email"
            name="email"
            id="email"
            placeholder="Your Email Address"
          />
          <button type="submit" class="subscribe button">Subscribe</button>
        </form>
      </section>
    </main>

 {% include "post/footer.html" %}
    
</body>
</html>